    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p>
                  I am an SEO consultant that works with local businesses to create custom SEO strategies that expand their reach. 
                </p>
                <p>
                  Investing in the development and deployment of a quality SEO strategy is a cost-effective way for businesses to connect with their audience across the web, improve their visibility, and drive sales – whether they be online or in the neighborhood. 
                </p>
                <p>
                  I'm practiced in a multitude of SEO techniques, such as on-page optimizations, citation validation, geolocation, and social media presence management. I offer a free discovery process and am dedicated to finding the most cost-effective, valuable solution that will fit within your budget. 
                </p>
                <p>
                  <a class="page-scroll" href="#contact">Let's talk.</a>
                </p>
                <br/>
              </div>
        </div>
    </section>
