    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p>
                  I work with local Portland businesses to create comprehensive SEO (search engine optimization) strategies. I have a free discovery proccess with a brief SEO audit. Afterwards, we can discuss what strategies will be the most effective for your business to grow. I offer a variety of services from content creation, Google My Business managment, citation clean up and more.
                </p>
                <p>
                  A little bit about me, I grew up in Wisconsin but have fully embraced the Portland lifestyle with hobbies including hiking in the beautiful PNW, yoga, dabbling in Kombucha brewing and wondering if I should someday own chickens.
                </p>
                <br/>
              </div>
        </div>
    </section>
